<div id=<%= dom_id(booking) %>>
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= booking.customer_id %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= booking.start_date %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= booking.finish_date %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= booking.payment_method %>
    </td>
  </div>
