<div id=<%= dom_id(customer) %>>
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= customer.email %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= customer.full_name %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= customer.address %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= customer.city %>
    </td>
  </div>
